<div class="chat-room" data-chat-target="chatBox">

</div>
<div id="chat-gradient" data-controller="textarea">
  <div class="input bar">
    <textarea data-chat-target="prompt" data-action="keydown.enter->chat#chatCompletion:prevent keydown.shift+enter->textarea#expand keyup->textarea#minimize"></textarea>
    <button class="submit button" data-action="click->chat#chatCompletion">
      <i class="large telegram plane link icon"></i>
    </button>
  </div>
</div>
