<div class="chat-room" data-chat-target="chatBox">

</div>
<div id="chat-gradient">
  <div class="input bar">
    <textarea data-chat-target="prompt"></textarea>
    <button class="submit button" data-action="click->chat#chatCompletion">
      <i class="large telegram plane link icon"></i>
    </button>
  </div>
</div>