/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  font-size: 1.15rem;
  --primary-orange: #DC4712;
  --secondary-orange: #EE712B;
  --main-white: #FBF7F7;
}

nav {
  background: var(--main-white);
  height: 120px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 50px 75px var(--main-white);

  .column{
    padding: 0 !important;
    display: flex !important;
    align-items: center;
  }

  .left.column {
    padding-left: 70px !important;

    a {
      cursor: pointer;
      color: black !important;
      margin-right: 45px;

      &.active{
        color: var(--primary-orange) !important;
        cursor: auto;
      }
    }
  }

  .center.column{
    justify-content: center;
  }

  .right.column{
    padding-right: 70px !important;
    justify-content: flex-end;

    .icon{
      font-size: 2em !important;
      transform: rotateZ(-90deg);
      color: var(--secondary-orange) !important;
    }
  }
}