#chat-gradient{
  position: absolute;
  height: 20%;
  width: 100%;
  background: linear-gradient(transparent, #EE712B5F);
  bottom: 0;
  left: 0;
  display: flex;
  padding: 0 14vw;
  align-items: center;

  .input.bar{
    background: var(--light-grey);
    border: 1px solid var(--primary-orange);
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    textarea{
      border: none;
      width: calc(100% - 45px);
      background: var(--light-grey);
      height: calc(1.2em);
      resize: none;
      padding: 0 0 0 10px;

      &::-webkit-scrollbar-track {
        background: transparent !important;
      }

      &:focus{
        outline: none;
      }
    }

    .submit.button{
      height: 40px;
      width: 40px;
      background: var(--secondary-orange);
      border-radius: 10px;
      display: grid;
      place-content: center;
      color: var(--light-grey) !important;
    }
  }
}