.chat-room{
  overflow-y: scroll;
  height: 88%;
  padding-top: 30px;
  padding-bottom: 120px;

  &::-webkit-scrollbar-track{
    background: transparent !important;
  }

  .message{
    padding: 30px 14vw;
    display: flex;

    .avatar{
        height: 40px;
        width: 40px;
        background-size: cover !important;
        border-radius: 5px;
    }

    &.user {
      background: var(--main-white);
      .avatar {
        background: url("user.png") no-repeat center;
      }
    }

    &.assistant {
      background: var(--light-grey);

      .avatar {
        background: url("rently.png") no-repeat center;
      }
    }

    .content{
      padding: 5px 0 0 30px;
    }
  }
}