nav {
  background: var(--main-white);
  height: 100px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 50px 50px var(--main-white);
  margin: 0 !important;

  .column {
    padding: 0 !important;
    display: flex !important;
    align-items: center;
  }

  .left.column {
    padding-left: 60px !important;

    a:not(.inputs) {
      cursor: pointer;
      color: black !important;
      margin-right: 45px;

      &.active {
        color: var(--primary-orange) !important;
        cursor: auto;
      }
    }

    a.inputs{
      color: black !important;
      display: none;
      font-size: 1rem;

      input{
        width: 70px;

        &:focus{
          outline: none;
        }
      }
    }
  }

  .center.column {
    justify-content: center;
  }

  .right.column {
    padding-right: 60px !important;
    justify-content: flex-end;

    span{
      padding: 0 20px;
    }

    .icon {
      font-size: 2em !important;
      color: var(--secondary-orange) !important;
      margin-left: 20px;

      &.sign.out{
        transform: rotateZ(-90deg);
      }
    }
  }
}
